$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #318098;
$secondary_paletteKeyColor: #657B84;
$tertiary_paletteKeyColor: #727497;
$neutral_paletteKeyColor: #72787A;
$neutral_variant_paletteKeyColor: #70787C;
$background: #0F1416;
$onBackground: #DEE3E6;
$surface: #0F1416;
$surfaceDim: #0F1416;
$surfaceBright: #353A3C;
$surfaceContainerLowest: #0A0F11;
$surfaceContainerLow: #171C1F;
$surfaceContainer: #1B2023;
$surfaceContainerHigh: #252B2D;
$surfaceContainerHighest: #303638;
$onSurface: #DEE3E6;
$surfaceVariant: #40484C;
$onSurfaceVariant: #BFC8CC;
$inverseSurface: #DEE3E6;
$inverseOnSurface: #2C3134;
$outline: #8A9296;
$outlineVariant: #40484C;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #87D1EB;
$primary: #87D1EB;
$onPrimary: #003543;
$primaryContainer: #004E60;
$onPrimaryContainer: #B6EBFF;
$inversePrimary: #05677E;
$secondary: #B3CAD4;
$onSecondary: #1E333B;
$secondaryContainer: #344A52;
$onSecondaryContainer: #CFE6F0;
$tertiary: #C2C3EB;
$onTertiary: #2B2E4D;
$tertiaryContainer: #8C8EB3;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #B6EBFF;
$primaryFixedDim: #87D1EB;
$onPrimaryFixed: #001F28;
$onPrimaryFixedVariant: #004E60;
$secondaryFixed: #CFE6F0;
$secondaryFixedDim: #B3CAD4;
$onSecondaryFixed: #071E26;
$onSecondaryFixedVariant: #344A52;
$tertiaryFixed: #E0E0FF;
$tertiaryFixedDim: #C2C3EB;
$onTertiaryFixed: #161937;
$onTertiaryFixedVariant: #424465;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #151B1F;
$term1: #8882FF;
$term2: #61E0C2;
$term3: #88FBC5;
$term4: #78B4C2;
$term5: #95A7EF;
$term6: #80D8D3;
$term7: #CEDBD1;
$term8: #B2BCB3;
$term9: #BEB9FF;
$term10: #F3FFFA;
$term11: #FFFFFF;
$term12: #BEE3E6;
$term13: #D3D8FF;
$term14: #E9FFFC;
$term15: #CBE7F3;
